body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8em;
  color: pink;
}

#content {
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#cardSlots {
  margin: 50px auto 0 auto;
  div {
    height: 250px;
    text-align: center;
    border: 10px solid white;
      background: #ddf;
  }
}

/* The initial pile of unsorted cards */

#cardPile {

}

#cardPile div {
  float: left;
  width: 100px;
  height: 100px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  border: 2px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 16px;
  margin: 0 0 0 10px;
  background: coral;
  transform: translateX(10px) rotate(10deg) translateY(5px);
}
