body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.title {
  margin-bottom: 20px;
  h1 {
    color: coral;
  }
}

#cardPile {
  margin-top: 50px;
}

#cardPile div {
  float: left;
  width: 100px;
  height: 100px;
  margin: 16px;
  padding-left: 10px;
  padding-top: 40px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 16px;
  background: coral;
  transform: translateX(10px) rotate(10deg) translateY(5px);
}

#cardSlots {
  margin: 50px auto 0 auto;
  div {
    height: 250px;
    text-align: center;
    border: 10px solid white;
      background: #ddf;
  }
}
